<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="mdrtb">
  <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
  <property name="hibernate.connection.password">masterkey</property>
  <property name="hibernate.connection.url">jdbc:firebirdsql:localhost:C:\Projetos\MSH\MDR\database\MDRTB.gdb?lc_ctype=UNICODE_FSS</property>
  <property name="hibernate.connection.username">sysdba</property>
  <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
  <mapping class="org.msh.mdrtb.entities.Source"/>
  <mapping class="org.msh.mdrtb.entities.Medicine"/>
  <mapping class="org.msh.mdrtb.entities.Substance"/>
  <mapping class="org.msh.mdrtb.entities.Address"/>
  <mapping class="org.msh.mdrtb.entities.Batch"/>
  <mapping class="org.msh.mdrtb.entities.BatchMovement"/>
  <mapping class="org.msh.mdrtb.entities.BatchQuantity"/>
  <mapping class="org.msh.mdrtb.entities.CaseRegimen"/>
  <mapping class="org.msh.mdrtb.entities.CaseSideEffect"/>
  <mapping class="org.msh.mdrtb.entities.ClinicalForm"/>
  <mapping class="org.msh.mdrtb.entities.ExamCulture"/>
  <mapping class="org.msh.mdrtb.entities.ExamHIV"/>
  <mapping class="org.msh.mdrtb.entities.ExamSputumSmear"/>
  <mapping class="org.msh.mdrtb.entities.ExamSusceptibilityResult"/>
  <mapping class="org.msh.mdrtb.entities.ExamSusecptibilityTest"/>
  <mapping class="org.msh.mdrtb.entities.ExamXRay"/>
  <mapping class="org.msh.mdrtb.entities.FieldValue"/>
  <mapping class="org.msh.mdrtb.entities.Forecasting"/>
  <mapping class="org.msh.mdrtb.entities.ForecastingMedicine"/>
  <mapping class="org.msh.mdrtb.entities.ForecastingRegimen"/>
  <mapping class="org.msh.mdrtb.entities.Laboratory"/>
  <mapping class="org.msh.mdrtb.entities.Locality"/>
  <mapping class="org.msh.mdrtb.entities.MedicalExamination"/>
  <mapping class="org.msh.mdrtb.entities.MedicineDispensing"/>
  <mapping class="org.msh.mdrtb.entities.MedicineReceiving"/>
  <mapping class="org.msh.mdrtb.entities.MedicineReceivingItem"/>
  <mapping class="org.msh.mdrtb.entities.MedicineRegimen"/>
  <mapping class="org.msh.mdrtb.entities.MedicineStrength"/>
  <mapping class="org.msh.mdrtb.entities.MedicineUnit"/>
  <mapping class="org.msh.mdrtb.entities.Method"/>
  <mapping class="org.msh.mdrtb.entities.Movement"/>
  <mapping class="org.msh.mdrtb.entities.Order"/>
  <mapping class="org.msh.mdrtb.entities.OrderBatch"/>
  <mapping class="org.msh.mdrtb.entities.OrderCase"/>
  <mapping class="org.msh.mdrtb.entities.OrderItem"/>
  <mapping class="org.msh.mdrtb.entities.Patient"/>
  <mapping class="org.msh.mdrtb.entities.PhysicalExam"/>
  <mapping class="org.msh.mdrtb.entities.PrescribedMedicine"/>
  <mapping class="org.msh.mdrtb.entities.PrevTBTreatment"/>
  <mapping class="org.msh.mdrtb.entities.Product"/>
  <mapping class="org.msh.mdrtb.entities.ProductGroup"/>
  <mapping class="org.msh.mdrtb.entities.Regimen"/>
  <mapping class="org.msh.mdrtb.entities.RegimenUnit"/>
  <mapping class="org.msh.mdrtb.entities.Region"/>
  <mapping class="org.msh.mdrtb.entities.ResistancePattern"/>
  <mapping class="org.msh.mdrtb.entities.SequenceInfo"/>
  <mapping class="org.msh.mdrtb.entities.StockPosition"/>
  <mapping class="org.msh.mdrtb.entities.tbcase"/>
  <mapping class="org.msh.mdrtb.entities.Tbunit"/>
  <mapping class="org.msh.mdrtb.entities.Transfer"/>
  <mapping class="org.msh.mdrtb.entities.TransferBatch"/>
  <mapping class="org.msh.mdrtb.entities.TransferItem"/>
  <mapping class="org.msh.mdrtb.entities.TreatmentHealthUnit"/>
  <mapping class="org.msh.mdrtb.entities.UnitDispensing"/>
  <mapping class="org.msh.mdrtb.entities.User"/>
  <mapping class="org.msh.mdrtb.entities.UserLogin"/>
  <mapping class="org.msh.mdrtb.entities.UserPermission"/>
  <mapping class="org.msh.mdrtb.entities.UserProfile"/>
  <mapping class="org.msh.mdrtb.entities.UserRole"/>
  <mapping class="org.msh.mdrtb.entities.UserWorkspace"/>
  <mapping class="org.msh.mdrtb.entities.Workspace"/>
 </session-factory>
</hibernate-configuration>
