body {
  font-family:Verdana,Tahoma,Arial,Sans Serif;
  font-size:9px;
  margin:0px;
}

form {
	margin:0px;
}
input,select {
	font-family:Verdana,Arial,Sans Serif;
	font-size:9px;
	}

hr {
  border-top:1px dashed white;
  border-bottom:1px dashed gray;
}

h1 {
  font-family:Verdana,Arial,Sans Serif;
  font-size:20px;
  margin-bottom: 8px;
  margin-top:1px;
  font-weight:normal;
  color:black;
}

h2 {
	font-weight:normal;
	font-size:18px;
	margin:5px 0px 15px 0px;
}

h3 {
	font-weight:normal;
	font-size:16px;
	margin:5px 0px 5px 0px;
	width:100%;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: black;
	font-weight:normal;
	font-size:9px;
}
a:hover {
	text-decoration: underline;
}

table {
	font-family:Verdana,Tahoma,Arial,Sans Serif;
	font-size:9px;
	}

.reportbody {
	border-collapse: collapse;
}
.reportbody td {
	vertical-align: top;
}

.repcell {
	border:1px solid #808080;
}

.prop {
	font-family: Verdana,Arial,Sans Serif;
	display: table;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 120px;
	float: left;
	clear: left;
	padding: 5px;
	margin-right:2px;
	background-color:#F5F5F5;
	margin-bottom:2px;
	min-height: 14px;
}
.value {
	float:left;
	margin-top:2px;
	padding: 2px;
	vertical-align:middle;
	display:block;
	min-height:20px;
}
.name2 {
	width:120px;
	float:left;
	font-weight:bold;
}

.tabela {
	border:1px solid #000;
	border-collapse: collapse;
	background-color: white;
}
.lin1 {background-color: #fff;}
.lin2 {background-color: #fff;}

.highlight {
	background-color: #f0f0f0;
	color:black;
	font-weight: bold;
}

.activerow {
	background-color:#909090;
}
.tabela th {
	height:20px; 
	background-color:#d0d0d0;
	border:2px solid #000;
	color:black;
	padding-left:4px;
	padding-right:4px;
	font-weight:bold;
	font-size:10px;
}
.tabela th a {
	color:black;
	font-weight: bold;
	font-size:10px;
}
.tabela td {padding:2px;	height:18px; vertical-align: top; border:1px solid #909090; }

.collh {text-align:left; display:block; padding-right:5px; }
.colrh {text-align:right; display:block; padding-left:5px; }
.colc {	text-align: center; }
.coll { text-align:left; }
.colr { text-align:right; }
.colb {border-right:1px solid #909090; border-bottom:1px solid #dddddd;	}
.colcb {border-right:1px solid #909090; border-bottom:1px solid #dddddd; text-align:center;	}
.colrb {border-right:1px solid #909090; border-bottom:1px solid #dddddd; text-align:right;	}
.colr2 {text-align:right; display:block; padding-left:5px; background-color:#909090;}
.colheader {background-color:#f0f0f0;border:2px solid #808080;padding:5px;}

.menubv {
	width: 100%;
	padding: 0;
	margin: 0em 0;
	font-family: Verdana, Arial,
		  Helvetica, sans-serif;
	color: #000;
	padding:1px;
	background-color: transparent;
}
	
.linknaveg {
	display:block;
}

.button {
	background-color: #fff;
	padding:0;
	margin:5px;
	color: black;
	height:20px;
	border:2px solid #000000; 
	text-transform: uppercase;
	font-weight: bold;
	font-size:10px;
	cursor: pointer;
	width: 100px;
}
.button:disable {
	background-color:gray;
}

.button2 {
	text-align:center;
	width:120px;
	border:1px solid #aaaaaa;
	background:#eeeeee;
	color:black;
	height:16px;
	vertical-align:middle;
	cursor: pointer;
	padding:1px;
}

.optionmenu {
	font-size:9px;
	margin-left:20px;
	margin-top:15px;
	height:20px;
	background: transparent url(../img/quadrado.jpg) no-repeat left top;
	clear: both;
	display: block;
	padding-left:20px;
}

.tabela2 {
	border-collapse: collapse;
}
.tabela2 th {
	background:#dddddd none;
}
.tabela2 td {
	padding:0px;
	margin:0px;
	height:15px;	
}




.tpmenu {
	border-bottom:1px solid #4E5C50;
	display:block;
	margin-top:10px;
}
.tpmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
	
.tpmenu li {
	display: inline;
	border: 1px solid #1F712A;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
	font-size:9px;
	padding-top:8px;
	background: #22A834;
}
	
.tpmenu li a {
	position: relative;
	top: -3px;
	padding-top:1px;
	padding-left: 6px;
	padding-right: 6px;
	font-size:9px;
}

.tpmenu .unselected a{
	color: white;
	font-weight: normal;
}
.tpmenu .selected {
	padding-bottom: 1px;
	background: #fff;
	font-weight: bold;
	color: black;
}

.tpmenu .selected a {
   font-weight:bold;
} 

.sep {
	padding-right:12px;
	border-right:2px solid white;
}

.tabela1 {
	border-collapse:collapse;
	border:1px solid #DADADA;
	background-color: #F1F1F1;
}
.tabela1 th {
	background: transparent url(../img/degr1.gif) repeat-x;
	color:#000000;
	font-weight:bold;
	height:20px;
	border-bottom:1px solid #D0D0D0;
}


.rtop, .rbottom{display:block; background:#fff; padding:0; }
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden; padding:0px; margin:0px;}
.r1{margin: 0 5px;}
.r2{margin: 0 3px;}
.r3{margin: 0 2px;}
.r4{margin: 0 1px; height: 2px;}
.r1s{margin: 0 2px}
.r2s{margin: 0 1px}


.pgtab {
	border-bottom:1px solid #299C38;
	display:block;
	margin-top:10px;
}
.pgtab ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
	
.pgtab li {
	display: inline;
	border: 1px solid #299C38;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
	font-size:9px;
	padding-top:8px;
	background: #DEECE0;
}	
.pgtab li a {
	position: relative;
	top: -3px;
	padding-top:1px;
	padding-left: 6px;
	padding-right: 6px;
	font-size:9px;
}
.pgtab .unselected a{
	color: green;
	font-weight: normal;
}
.pgtab .selected {
	padding-bottom: 1px;
	background: #fff;
	font-weight: bold;
	color: black;
}
.pgtab .selected a {
   font-weight:bold;
}
.pgbody {
	border-left:1px solid #299C38;
	border-right:1px solid #69BC78;
	border-bottom:1px solid #69BC78;
	padding:4px;
}
.tabela3 {
	margin-top:10px;
	border:2px solid #d0d0d0;
	border-collapse: collapse;
}

.tabela4 {
	border:1px solid #f0f0f0;
	border-collapse: collapse;
}
.tabela4 th{
	background-color: #E8EFE3;
	border:1px solid #e0e0e0;
	height:20px;
}
.tabela4 td {
	padding:2px;
	border-right:1px solid #d0d0d0;
}

.header {
	background-color: #F2F5F0;
	font-weight:normal;
	text-align: left;
	font-size:9px;
	padding:4px;
}

.paragraph {
	clear:left;
	width:100%;
	display:table;
	margin-top:5px;
	margin-bottom:3px;
	color:#a0a0a0;
	font-size:9px;
	font-weight: bold;
	padding-bottom:2px;
	border-bottom:1px solid #e0e0e0;
}

.b1lt {background: transparent url(../img/b1lt.gif) no-repeat left top; position:relative; left:-1px; top:-1px;}
.b1rt {background: transparent url(../img/b1rt.gif) no-repeat right top; position:relative; left:2px; }
.b1lb {background: transparent url(../img/b1lb.gif) no-repeat left bottom; position:relative; left:-1px; top:1px;}
.b1rb {background: transparent url(../img/b1rb.gif) no-repeat right bottom; position:relative; left:2px;}

.b2lt {background: transparent url(../img/b2lt.gif) no-repeat left top; position:relative; left:-1px; top:-1px;}
.b2rt {background: transparent url(../img/b2rt.gif) no-repeat right top; position:relative; left:2px; }
.b2lb {background: transparent url(../img/b2lb.gif) no-repeat left bottom; position:relative; left:-1px; top:1px;}
.b2rb {background: transparent url(../img/b2rb.gif) no-repeat right bottom; position:relative; left:2px;}

.button {
	display:none;
}
.button-cancel {
	display:none;
}

