@CHARSET "ISO-8859-1";

html {
	overflow: auto;
}

.gwt-PopupPanel {
	background-color:#ffffff;
	border: 1px solid #7F9DB9;
	box-shadow:3px 3px 10px #b0b0b0;
}

.gwt-Anchor {
	cursor: pointer;
}
.hover-panel {
	padding:3px;
	margin-bottom:4px;
}

.hover-panel .del-button {
	border:1px solid #d0d0d0;
	border-radius:6px;
	width:18px;
	height:18px;
	float:right;
	text-align: center;
	color:#a0a0a0;
	font-size:10px;
}

.hover-panel-selected {
	background-color:#f2f2f2;
	border-radius:2px;
}


.var-panel {
	width:350px;
}

.var-panel .options {
	width:300px;
	height:25px;
}

.var-panel .var-name {
	border:1px solid #8c9b8c;
	min-height:18px;
	padding:2px;
	width:270px;
	background-color:white;
}

.var-panel .option-button {
	float:right;
	border:1px solid #8c9b8c;
	width:16px;
	height:16px;
	font-size:12px;
	text-align:center;
	border-radius:2px;
	background-color:#e0e0e0;
	color:black;
}

/* Custom controls */
.group-popup {
	background-color:#ffffff;
	border: 1px solid #7F9DB9;
	box-shadow:3px 3px 10px #b0b0b0;
}

.group-panel {
	padding:4px;
}

.group-panel .group-link {
	color: black;
	font-weight: bold;
	font-size: 14px;
}

.group-panel .group-options a {
	padding-left:20px;
	padding-bottom:4px;
	color:black;
}

.chart-button {
	border:2px solid white; 
	width:36px;
	height:36px;
	display:block;
}

.chart-button:hover {
	border:2px solid #d0d0d0;
	border-radius: 2px;
}


.chart-popup {
	text-align: center;
}

.caselist-popup {
	background-color:#ffffff;
	border: 1px solid #7F9DB9;
	box-shadow:3px 3px 10px #b0b0b0;
	padding:2px 10px 10px 10px;
	border-radius:4px;
}

.caselist-popup table td{
	padding:4px;
}

.filter_name {
	vertical-align: top;
	font-weight: normal;
	width: 160px;
	float: left;
	padding: 5px 4px 2px 4px;
	clear: left;
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.filter_value {
	float: left;
	vertical-align: middle;
	padding:1px;
	font-size:11px;
}

.cellhover {
	padding:1px;
}
.cellhover:hover {
	background-color:#e0f0e0;
	border-radius: 2px;
	border:1px solid #d0e0d0;
	cursor: pointer;
	padding:0px;
}

.messagePanel{
	border-radius:4px;
}
.messagePanel-error {
	color: #b94a48;
	background-color: #f2dede;
	border:1px solid #eed3d7;
}
.messagePanel-inner {
	padding:10px;
	font-size:13px;
}

.toggle-button {
	color:#d0d0d0;
	position: relative;
	top: 3px;
	padding-left:4px;
}
.toggle-button:hover {
	color:#888;
}

.gwt-DialogBox {
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	outline: 0;
}

.gwt-DialogBox .dialogTopCenterInner {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.42857143px;
	font-size:14px;
}

.gwt-DialogBox .modal-content {
	position: relative;
	padding: 20px;
	font-size:14px;
}
.gwt-PopupPanelGlass {
	background-color: rgba(51, 51, 51, 0.3);
}

.gwt-DialogBox .Caption {
	font-size:16px;
}


.gwt-DialogBox .modal-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
	font-size: 13px;
}

.gwt-Button {
	border-radius: 4px;
	background-color: #ececec;
	border: 1px solid #D3D3D3;
	color: #5A5A5A;
	padding: 4px 10px;
	cursor: pointer;
	font-size: 13px;
}


.gwt-Button:hover {
	background-color: #cacaca;
	border-color: #b6b6b6;
}


.btn-alt {
	background-color: #5cb85c;
	border: #4cae4c;
	color: #fff;
	padding: 5px 8px;
}

.btn-alt:hover {
	background-color: #47a447;
	border: #398439;
}

.dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 5px;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.dropdown-menu li a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;	
}

.dropdown-menu li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #069;
}

.repsymbol {
	color: #4cae4c;
	font-size: 28px;
	float: left;
	position: relative;
	top: -2px;
}
