
body {
	background: #FFFFFF;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height:150%;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color:#069;
	font-size:12px;
}

a:hover {
	text-decoration:underline;
}

h1 {
	font-size:1.8em;
	color: #E47911;
/*	color: #004c00; */
	padding-bottom:10px;
	padding-top:4px;
	margin:0;
}

h2 {
	font-size:1.4em;
	color: #529252;
	line-height:150%;
	margin:8px 1px 5px 1px;
	border-bottom:1px solid #c0dacf; 
}

hr {
	border-top:1px solid #000000;
	border-bottom:none;
}

input, select {
	border:1px solid #8c9b8c;
	padding:1px;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	margin:1px;
}
input {font-size:1.1em; }
select {font-size:1em; }

.link-small {
	font-size:0.9em;
}
.text-small {
	font-size:0.9em;
}
.text-medium {
	font-size:1.2em;
}
.text-big {
	font-size:1.7em;
	margin-bottom:2px;
}
.text {
	font-family:Courier New;
	font-size:13px;
}


.page-header {
/*	background: transparent url(images/header-bg.png) repeat-x; */
	background-color: #000;
	padding-top:0px;
	height:42px;
	color:#ffffff;
	border-bottom:1px solid #5b9f84;
}

.page-header-wrapper, .page-content-wrapper , .page-footer-wrapper, .sub-menu-wrapper{
	margin:0 auto;
	width:1000px;
	padding:0;
}

.page-header-wrapper {
	color:#000;
}

.page-header-left {
	float:left;
	background: transparent url(images/logo.png) no-repeat;
	background-position:0px 4px;
	width:150px;
	height:42px;
	padding-left:54px;
}

.page-header-left h1 {
	font-size:1.8em;
	line-height:110%;
	margin:0;
	padding:0;
	color:white;
}

.page-header-right {
	float:right;
	padding-right:4px;
	height:40px;
	width:auto;
	text-align:right;
}

.page-header-right .user-data {
	color:#c6c6ac;
	position:relative;
	top:6px;
}

a.user-data {
	border:1px solid black;
	padding:4px;
	z-index: 1000;
}
a.user-data:hover, .page-header-right .rich-ddmenu-label-select {
	background-color:#ffffff;
	color:black;
}

.page-header-right .menu { display:inline; }
.page-header-right .menu a {
	color: #069;
	padding-right:10px;
	padding-left:8px;
	border-left:1px solid #069;
}
.page-header-right .menu .first{
	padding-left:16px;
	border-left:none;
}

.top-menu {
	display:block;
	float:left;
	padding-top:13px;
	margin-left:20px;
}
.top-menu .item {
	display:inline;
	overflow:hidden;
	float:left;
	padding: 0;
	margin:0;
	height:28px;
	margin-right:2px;
	margin-top:2px;
}
.top-menu a {
	background: #23583f;
	text-decoration: none;
	display:block;
	border-bottom:1px solid #5b9f84;
	font-size:0.9em;
	color:#a1a19d;
	text-decoration:none;
	text-align:center;
	padding:5px 10px 4px 10px;
	min-width:80px;
	font-weight:bold;
	height:18px;
	text-transform:uppercase;
}
.top-menu a:hover {
	background:#2b6148;
	color:#ffffff;
}
.top-menu .selected  a{
	background:#307b57;
	border-bottom:1px solid #cbdbed;
	border-left:1px solid #5b9f84;
	border-top:1px solid #5b9f84;
	color:white;
}


.sub-menu {
	background: #4c9374 url(images/submenu-bg.png) repeat-x; 
	clear:both;
	width:100%;
	height:30px;
	border-bottom:1px solid #000;
	float:left;
	padding-top:3px;
}
.sub-menu .item {
	float:left;
	height:26px;
}
.sub-menu  a {
	color:#d7d242;
	text-decoration:none;
	text-align:center;
	margin-right:4px;
	padding:4px 20px 4px 20px;
	float:left;
	height:26px;
}
.sub-menu  a:hover {
	text-decoration:underline;
	color:white;
}

.sub-menu .selected{
	background: transparent url(images/submenu-hover-right.png) no-repeat top right;
	padding-right:4px;
}
.sub-menu .selected a{
	background: transparent url(images/submenu-hover-left.png) no-repeat top left;
	color:white;
	display:block;
}

.workspace-data {
	float:right;
	color:#23583f;
	top:-2px;
	position:relative;
}
a.workspace-data:hover, .sub-menu .rich-ddmenu-label-select {
	background-color:#23583f;
	color:black;
}
.workspace-data .rich-menu-list-bg {
	height:200px;
	min-height:200px;
	overflow-y:scroll;
	width:300px;
	min-width:300px;
	overflow-x:hidden;
}
.workspace-data-selected {
	background:#23583f;
	color:#000;
	cursor:pointer;
	height:26px;
}
a.workspace-data {
	padding:0px;
	margin:0px;
}
.workspace-name {
	vertical-align: top;
	color:white;
}
.workspace-data .rich-menu-item-icon-disabled {
	display:none;
}
.workspace-data-selected .workspace-name {
	text-decoration: underline;
}
.workspace-link {
	color:#000000;
	display:block;
	margin:0;
	padding:0;
}
.workspace-link span {
	vertical-align:top;
	color:#000000;
}
.workspace-link img {
	border:none;
}
.workspace-link:hover, .workspace-link:hover span {
	color:#000000;
	text-decoration: underline;
}


.page-content {
	color:black;
	clear:both;
	min-height:700px;
	display:block;
}

.page-content-wrapper {
	padding:4px;
	border-left:1px solid #becebe;
	border-right:1px solid #becebe;
	border-bottom:1px solid #becebe;
	display:table;
}

.left-content {
	width:180px;
	padding:4px;
	padding-top:6px;
	border-right:1px solid #becebe;
	vertical-align: top;
}

.central-content {
	padding:4px;
	padding-left:10px;
	vertical-align: top;
}

.page-footer {
	margin-top:30px;
	border-top:10px solid #4c9374;
	color:#538f48;
	height:100px;
	background-color:#bed3ba;
}

.page-footer-wrapper {
	text-align:center;
	font-size:0.9em;
}

.page-footer .credit {
	float:left;
}
.page-footer .credit a {
}



/* Formulários */

.form1 {
	margin-top:10px;
	width:100%;
}

.form1 h2 {
	font-size:1.3em;
	color:#529252;
	font-weight:bold;
	margin:4px 1px 4px 1px;
	border:none;
}

.form1 .form-header {
	padding:8px;
}
.form1 .form-header h1 {
	font-size:1.2em;
	font-weight:bold;
	padding:0;
	color:#E47911;
}
.form1 .form-content {
	border-top:1px solid #becebe;
	background-color: #e2eae2;
	padding:4px 10px 10px 10px;
	margin:6px 0px 10px 0px;
}
.form1 .form-footer {
	border-top:1px solid #becebe;
	background: transparent url(images/formbg.png) repeat-x;
	padding:12px 8px 8px 8px;
	margin-top:10px;
}



.form2 {
	margin-top:10px;
	border-top:1px solid #d7ae56;
	border-bottom:1px solid #d7ae56;
}
.form2 .form-header {
	padding:4px;
	background-color: #fff7cf;
}
.form2 .form-header h1 {
	font-size:1.1em;
	font-weight:bold;
	padding:0;
	color:black;
}
.form2 .form-content {
	padding:6px;
}
.form2 .form-footer {
	background-color: #fff7cf;
	padding:4px;
	height:30px;
}


/* Links and menus */

.vertical-menu {
	margin:0px;
}

.vertical-menu  a{
	padding:2px 2px 6px 2px;
	display:block;
	height:30px;
	min-height:30px;
}
.vertical-menu a:hover {
	background-color:#e2eae2;
}

.vertical-menu li ul {
}


/* Botões */

.button-small a{
	background-color:#ffe66c;
	border:1px solid #d7ae56;	
	color:black;
	padding:2px 6px 2px 6px;
	font-size:0.9em;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
}
.button-small a:hover {
	background-color:#f5ecbd;
	color: #069;
}



.button {
/* Sliding right image */
background: transparent url('images/button-right.png') no-repeat scroll top right; 
display: inline-block;
min-width:100px;
height: 32px; 
margin-right: 6px;
padding-right: 16px; 
text-decoration: none;
height:26px;
outline: none;
font-size:1em;
}
.button span {
/* Background left image */ 
background: transparent url('images/button-left.png') no-repeat; 
display: block;
line-height: 22px;
padding: 2px 0 0 12px;
height:24px;
color:white;
font-weight:bold;
}
.button img { border:none; }
.button:hover {  background-position: right -26px; text-decoration:underline; color:white;}
.button:hover span { background-position: left -26px; }
.button:active { background-position: right -52px; outline: none; }
.button:active span { background-position: left -52px; }


.button-alt {
background: transparent url('images/alt-button-right.png') no-repeat scroll top right; 
display: inline-block;
min-width:100px;
height: 32px; 
margin-right: 6px;
padding-right: 16px; 
text-decoration: none;
height:26px;
outline: none;
font-size:1em;
}
.button-alt span {
background: transparent url('images/alt-button-left.png') no-repeat; 
display: block;
line-height: 22px;
padding: 2px 0 0 12px;
height:24px;
color:black;
font-weight:bold;
}
.button-alt img { border:none; }
.button-alt:hover {  background-position: right -26px; text-decoration:underline; }
.button-alt:hover span { background-position: left -26px; }
.button-alt:active { background-position: right -52px; outline: none; }
.button-alt:active span { background-position: left -52px; }

.button-bar {
    display:block;
	position:relative;
	width:100%;
	height:25px;
	margin-bottom:4px;
	margin-top:4px;
	border-top:1px solid #d0d0d0;
	padding-top:4px;
}



/* TABELAS */
.table1 {
	border-collapse:collapse;
	background-color:#e2eae2;
	width:100%;
	font-size:11px;
}
.table1 th {
	font-weight:bold;
	background-color:#afcfc1;
	padding:8px;
	color:#073d07;
	border-right:1px solid white;
	border-bottom:1px solid white;
}
.table1 td {
	padding:2px;
	padding:8px 4px 8px 4px;
	border:1px solid white;
	vertical-align: top;
}
.table1 .highlight {
	background-color:#c8e0d6;
	color:#073d07;
}
.table1 .inactive {
	background-color:#ffffff;
	color:#e0e0e0;
	border:1px solid #f0f0f0;
}



.table2 {
	border-collapse:collapse;
	border:2px solid #c6dec6;
	background-color:#ffffff;
	width:100%;
}
.table2 th {
	font-weight:bold;
	background-color:#c6dec6;
	padding:8px;
	color:white;
	border-right:1px solid white;
	color:#45793d;
	font-size:1em;
}
.table2 td {
	padding:2px;
	padding:4px 5px 4px 5px;
	border-bottom:1px solid #e2eae2;
}
.table2 .highlight {
	background-color:#dbebdb;
	border:1px solid white;
	color:#34662d;
}


.selected-row  td{
	color:white;
	background-color:#45793d;
}

.table1 .standard{
	background-color:#e2eae2;
}
.table1 .col-highlight{
	background-color:#c1d6c1;
}

.small th {	padding:1px;}
.small td {	padding:2px 0px 2px 1px;}

.collh {text-align:left; display:block; padding-right:5px;}
.colrh {text-align:right; display:block; padding-left:5px;}
.colc {	text-align: center;}
.coll { text-align:left;}
.colr { text-align:right; }
.colcb {	text-align: center;}
.collb { text-align:left;}
.colrb { text-align:right; }
.colr2 {text-align:right; display:block; padding-left:5px; background-color:#EFF9F0;}
.colheader {background-color:#EDF7EF;border:1px solid #B4E8BB;padding:5px;}
.colbb {border:1px solid #a0a0a0; }
.hlcolor {background-color:#f4f4f4;}
.colu {	border-bottom:1px solid #5DCA72; }
.row1 { background-color:#F7F6E3;}
.row2 { background-color:#F6F4B8;}



/* Regions */

.region1 {
	background-color:white;
	border:1px solid #bdd5b9;
	padding:2px;
	display:block;
}
.region1 .header h2 {
	margin:0;
	color: #18590b;
	font-size:1.3em;
	border:none;
}
.region1 .header {
	background-color: #bdd5b9;
/*	background-color: #e2eae2; */
	color:black;
	font-size:1em;
	height:20px;
	padding:4px;
	display:table;
	width:100%;
}
.region1 .content {
	padding:4px;
}



.region2 {
	background-color:white;
	border:1px solid #bdd5b9;
	padding:2px;
	display:block;
}
.region2 .header h2 {
	border:none;
	margin:0;
	color: #18590b;
	font-size:1.3em;
}
.region2 .header {
	color:black;
	font-size:1em;
	height:20px;
	padding:4px;
	display:table;
	width:100%;
}
.region2 .content {
	margin-top:2px;
	padding:4px;
	background-color:#e2eae2;
}
.region2 .footer {
	margin:2px;
}

.highlight {
	background-color:#74ae95;
	padding:4px;
	color:white;
}

/* fields */

.prop {
	clear: both;
	display:table;
	margin-bottom:4px;
}
.name {
	vertical-align: top;
	font-weight: bold;
	width: 120px;
	float: left;
	padding: 5px 4px 4px 4px;
	clear: left;
	text-align: right;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
}
.value {
	float: left;
	vertical-align: middle;
	padding:1px;
	font-size:1.1em;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.prop2 {
	clear: both;
	display:table;
	padding: 5px 2px 4px 2px;
	color:#606060;
}
.name2 {
	vertical-align: top;
	font-weight: bold;
	clear: right;
	text-align: left;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	color:black;
}

.readonly-value {
	float: left;
	vertical-align: middle;
	padding-left:5px;
	padding-top:4px;
	font-size:1.1em;
}
.hint {
	font-size:0.9em;
	color:#909090;
	display:block;
	margin-bottom:6px;
}
.error {
	color:red;
	font-weight: bold;
	padding:2px;
	font-size:1.1em;
	display:inline-block;
}
.warn {
	color:#d5b14f;
	font-weight: bold;
}
.global-messages {
	width:100%;
	padding:4px;
	font-size:1.2em;
	margin-bottom:4px;
	color: #000000;
	background-color:#d5b14f;
}


/* Misc */

.spacer {
width:100%;
clear:both;
height:16px;
min-height:16px;
}

.bar-panel {
width:100%;
clear:both;
height:8px;
min-height:8px;
background-color:#bdd5b9;
margin-top:6px;
margin-bottom:6px;
display:table;
}

.waitpnl {
	background-color:#ffffff;
	position:absolute;
	left:4px;top:4px;
	display:none;
	font-size:0.9em;
	font-weight: normal;
	color:#3C7B1F;
	padding:4px;
	border:1px solid black;
}

.wait-icon {
	background-image: url('images/loading.gif');
	width:15px;
	height:15px;
	margin-right:2px;
	display:inline-block;
}

label.over { color: #999999; position: absolute; top: 4px; left: 4px;cursor:text;}
div.label { position: relative; float: left; margin-right: 3px; display:inline;}

.status-label {
	font-size:1.3em;
	font-weight: bold;
	color: #438b6b;
}


/* ICONS */

.icon-user-header, .icon-bullet, .icon-bullet-menu, .dst-resistant, .dst-contaminated, .dst-susceptible, 
.tag-icon, .delete-icon, .new-icon, .progress-icon, .plus-icon, .icon-checked, .icon-unchecked,
.icon-square, .icon-lab, .icon-hu, .icon-ds, .icon-report, .checked-icon, .unchecked-icon,
.icon-user, .icon-log-NEW, .icon-log-EDIT, .icon-log-DELETE, .icon-log-EXEC {
	background-image: url('images/icons.png');
	width:16px;
	height:16px;
	margin-right:2px;
	display:inline-block;
}
.male-icon, .female-icon, .icon-lab-big, .icon-hu-big, .icon-ds-big {
	background-image: url('images/icons.png');
	width:32px;
	height:32px;
	margin-right:2px;
	display:inline-block;
}

.male-icon { background-position:-64px 0px; }
.female-icon { 	background-position:-96px 0px; }

.icon-ds {  background-position:-16px -64px; }
.icon-lab { background-position:-32px -64px; }
.icon-hu {  background-position:-48px -64px; }

.icon-ds-big {	background-position:-160px 0px; }
.icon-hu-big {	background-position:-192px 0px; }
.icon-lab-big {	background-position:-224px 0px; }

.icon-report {	background-position:-64px -32px; }

.icon-bullet-menu {
	margin-right:8px;
	background-position:-32px -48px;
}
.icon-bullet {	background-position:-32px -48px; }
.icon-user-header {	background-position:-16px -48px; }
.icon-user {	background-position:0px -48px; }

.dst-susceptible {	background-position:0px -80px;  }
.dst-resistant { background-position:-16px -80px;  }
.dst-contaminated {	background-position:-32px -80px;  }

.tag-icon {	background-position:-48px -48px;  }
.delete-icon {	background-position:0px -16px; }
.plus-icon { background-position:-32px -16px; }
.checked-icon { background-position:-16px -112px; }
.unchecked-icon { background-position:-32px -112px; }

.progress-icon {
	width:100px;
	height:16px;
	background-position:0px -96px;
	min-heigth:16px;
	margin:2px;
	border:1px solid black;
}

.icon-log-EDIT { background-position:-16px 0px; }
.icon-log-DELETE { background-position:0px -16px; }
.icon-log-EXEC { background-position:-112px -32px; }



/* TREATMENT */

.treattable {
	padding:0px;
	margin:0px;
	width:800px;
}

.treattable td {
	padding:0px;
	margin:0px;
}

.bar, .bar-active, .bar-header, .bar-header-active, .intensivephase-bar, .continuousphase-bar {
	position:relative;
	float:left;
	height:25px;
	color: black;
	cursor:pointer;
	display:inline;
}
.bar 		{	font-weight: bold; background:transparent url(images/bar-body.png) repeat-x top; }
.bar-active {	font-weight: bold; background:transparent url(images/bar-body.png) repeat-x bottom; }
.bar-left, .bar-left-active, .bar-right, .bar-right-active { height:25px;	cursor:pointer; }
.bar-left 		{	background:transparent url(images/bar-left.png) no-repeat left top;}
.bar-left-active{	background:transparent url(images/bar-left.png) no-repeat left bottom; }
.bar-right {	background:transparent url(images/bar-right.png) no-repeat right top;}
.bar-right-active {	background:transparent url(images/bar-right.png) no-repeat right bottom;}
.bar-header {	background:#f0f0f0; }
.bar-header-active {	background-color:#d0d0d0; }

.bar-caption {
	margin-left:4px;
	padding-top:4px;
	font-size:10px;
}

.treatment-header {
	border-bottom:1px solid #6FA977;
}

.intensivephase-bar {	background-color:#f7744c; color:white; font-weight:bold; }
.intensivephase-bar:hover {	background-color:#c4512e; color:white; }

.continuousphase-bar { 	background-color:#f7e54c; font-weight:bold; }
.continuousphase-bar:hover { background-color:#c3b00a; }

.popup,.popup-long {
	background:transparent url(images/popuphint.png) no-repeat left top;
	position:absolute;
	width:284px;
	z-index:2;
	display:none;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}
.popup #bottom,.popup-long #bottom {
	background:transparent url(images/popuphint.png) no-repeat left bottom;
	position:absolute;
	width:284px;
	height:20px;
}
.popup #content, .popup-long #content {
	padding:10px;
	color:black;
	position:relative;
}
.popup {	height:100px; top:-130px;}
.popup #bottom {	top:100px;}
.popup #content {top:-104px; }

.popup-long { height:170px; top:-250px; }
.popup-long #bottom {	top:170px; height:70px;}
.popup-long #content {top:-170px; }

#closewin {
	background: transparent url(images/icons.png) no-repeat left top;
	background-position:-48px -80px;
	margin:4px 8px 4px 4px;
	width:16px;
	height:16px;
	position:relative;
	float:right;
	cursor:pointer;
}


/* RICHFACES */

.rich-mpnl-panel {
	position: relative;
}

.rich-menu-item {
	text-align:left;
	font-size:1.1em;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
}

.rich-mpnl-header {
	background-image:none;
	background-color:#34612f;
	padding:6px;
	color:white;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}

.rich-mpnl-body {
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
}

.rich-tabhdr-side-border, .rich-tabhdr-side-cell, .rich-tabhdr-cell-inactive {
	border:none;
	background:transparent;
}

.rich-tab-bottom-line {
	border-bottom-color:#c6d5ce;
}

.rich-tab-header {
	padding:4px 12px 4px 12px;
	font-weight:bold;
	font-size:12px;
}
.rich-tab-inactive {
	border:1px solid #ffffff;
  	background: #d5e5de;
  	color:#438b6b;
  	border-bottom:2px solid white;
  	cursor: pointer;
}
.rich-tab-active {
	border:1px solid #c6d5ce;
  	background: #fff;
  	color:#000;
  	border-bottom:1px solid white;
}
.rich-tabpanel-content {
	border-left:none;
	border-bottom:none;
	border-right:none;
	padding:1px;
}
.rich-tbpnl-tb-sel {
	background-color:#afcfc1;
}

